
 body{
    margin:0;
    background:#f4f4f4;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family:Arial;
      background-image: url("https://www.shutterstock.com/image-vector/red-hamburger-background-seamless-pattern-600nw-2646420413.jpg");
}

.container{
    display:flex;
    align-items:center;
    gap:20px;
  
}

img{
    width:500px;
    height:350px;
    border-radius:10px;
    transition:0.4s;
}

button{
    font-size:30px;
    background:black;
    color:white;
    border:none;
    padding:10px 15px;
    cursor:pointer;
    border-radius:5px;
}

button:hover{
    background:#333;
}